# Directories to ignore
auto-install/
auto-save-list/
elpa/
elpy/
site-lisp/
semanticdb/
server/
tutorial/
url/
.tutor/
emacs.d/var/

# Files to ignore
\#*#
*elc
*~
.DS_Store
.org-id-locations
ac-*dat
tramp
anything-c-adaptive-history
ede-projects.el
wget-log
abbrev_defs
config.el
home/.emacs.d/eshell/history
home/.emacs.d/eshell/lastdir
home/.emacs.d/ido.last
home/.emacs.d/recentf
home/.emacs.d/srecode-map.el
home/.emacs.d/smex-items
home/.emacs.d/custom.el
home/.emacs.d/var/
