# Directories to ignore
auto-install/
auto-save-list/
elpa/
elpy/
site-lisp/
semanticdb/
server/
transient/
tutorial/
url/
var/
.tutor/

# Files to ignore
.DS_Store
\#*#
*elc
*~
.org-id-locations
ac-*dat
tramp
anything-c-adaptive-history
ede-projects.el
wget-log
abbrev_defs
config.el
ido.last
recentf
srecode-map.el
smex-items
custom.el
**/eshell/history
**/eshell/lastdir
