# Directories to ignore
auto-install/
auto-save-list/
elpa/
elpy/
site-lisp/
semanticdb/
server/
transient/
tutorial/
url/
var/
.tutor/

# Files to ignore
**/eshell/history
**/eshell/lastdir
*elc
*~
.DS_Store
.org-id-locations
\#*#
abbrev_defs
ac-*dat
anything-c-adaptive-history
bookmarks
config.el
custom.el
ede-projects.el
ido.last
recentf
smex-items
srecode-map.el
tramp
wget-log
